<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="bootstrap.php"

        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        processIsolation="false"
        stopOnError="true"
        stopOnFailure="true"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        strict="true"
        verbose="false">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">../</directory>
            <directory suffix=".php">./</directory>
            <directory suffix=".php">../vendor</directory>
            <directory suffix=".php">../runtime</directory>
            <file>../src/exceptions/WaitTimeoutException.php</file>
            <file>../src/exceptions/SocketException.php</file>
            <file>../src/log/Loggable.php</file>
        </blacklist>
    </filter>
    <testsuites>
        <testsuite name="Forker Common Process Tests">
            <directory>./unit/process</directory>
        </testsuite>
        <testsuite name="Forker Helpers Tests">
            <directory>./unit/helpers</directory>
        </testsuite>
        <testsuite name="Forker System Tests">
            <directory>./unit/system</directory>
        </testsuite>
        <testsuite name="Forker Exceptions Tests">
            <directory>./unit/errors</directory>
        </testsuite>
    </testsuites>
</phpunit>